@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-base: 'Reem Kufi', sans-serif;
  --primary-color: #1e1e1e;
  --secondary-color: #b8bbd1;
  --color-gray: #545454;
  --color-crimson: #F5EFDB;
  --color-white: #fff;
  --color-golden: #DCCA87;
}

body {
  font-family: var(--font-base);
  background-color: var(--primary-color);
}


.range {
  --range-shdw: var(--primary-color);
}

.checkbox:checked,
.checkbox[checked="true"],
.checkbox[aria-checked="true"] {
    background-repeat: no-repeat;
    animation: checkmark var(--animation-input, 0.2s) ease-out;
    background-color: var(--primary-color);
    background-image: linear-gradient(-45deg, transparent 65%, var(--primary-color) 65.99%),
      linear-gradient(45deg, transparent 75%, var(--primary-color) 75.99%),
      linear-gradient(-45deg, var(--primary-color) 40%, transparent 40.99%),
      linear-gradient(
        45deg,
        var(--primary-color) 30%,
        var(--color-white) 30.99%,
        var(--color-white) 40%,
        transparent 40.99%
      ),
      linear-gradient(-45deg, var(--color-white) 50%, var(--primary-color) 50.99%);
}